/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
  body {
    background: #2a2e32;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: rgb(255,255,255);
    filter: drop-shadow(5px 1px 5px  rgba(5, 0, 44, 0.782));
  }
  /* .background {
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    margin: 0;
    padding: 0;
  } */
  .logoFooter{
    
  }

  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
    }