body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
